<h1>Movie title: <%= @movie.title  %> </h1><br>
<h3>Year created: <%= @movie.creation_year  %></h3><br>
<h3>Genre: <%= @movie.genre  %></h3><br>
  <h2>All Actors:</h2>
    <% @movie.all_actors.each_with_index do | actor, index| %>
      <div id="actor-<%= index %>">
        <%= actor.name %><br>
      </div>
      <% end %>
  <h3>Average actor age: <%= @movie.average_actor_age %></h3>
  <h2>Add an actor to this movie:</h2>
  <h3><%= form_with url: "/studios/#{@movie.studio_id}/movies/#{@movie.id}", method: :post, local: true do |f| %></h3>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.text_field :movie_id, value: @movie.id, hidden: true %>
  <%= f.submit %>
  <% end %>
